<header id='home' class="header">
  <div class="welcome">
    <div class="welcome-container">
      <h3 class='heading'>space the quest!</h3>
      <p class='copy'>What if you could experience a trip to further planets out into the cosmos find out how below!.</p>
      <div id='launch-btn' class="pill-btn" (click)="changeRocketStatus()">launch</div>
    </div>
  </div>
  <div @myAnimationTrigger class="star-ship star-ship-1"></div>

</header>

<main class='main-section'>
  <div class="star-ship star-ship-2"></div>


  <div class='cloud-container'>
    <div class="gradient-overlay"></div>

    <div class="clouds">
      <img width='100%' class='cloud-6' src="assets/image/cloud-png-image.png" alt="">
      <img width='100%' class='cloud-4' src="assets/image/cloud-png-image.png" alt="">
      <img width='100%' class='cloud-5' src="assets/image/cloud-png-image.png" alt="">
      <img width='100%' class='cloud-3' src="assets/image/cloud-png-image.png" alt="">

      <img width='100%' class='cloud-1' src="assets/image/cloud-png-image.png" alt="">
      <img width='100%' class='cloud-2' src="assets/image/cloud-png-image.png" alt="">

    </div>
  </div>
  <div class="wrapper">
    <section class="section mission-section">
      <section class="section-content">
        <div class="row">
          <div class="row-item">
            <div class="card">
              <h3 class='mission-heading margin-bottom-l'>our mission</h3>

              <p class='mission-copy'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam suscipit deleniti similique vel accusantium delectus nostrum nemo blanditiis esse enim, eaque pariatur? Cupiditate dolore, beatae omnis eligendi repellendus porro sunt.</p>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</main>
